@model IEnumerable<WineShop.Models.PaymentMethod>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Payment Method List</h2>
        </div>
        @if (User.IsInRole(WC.AdminRole))
        {
            <div class="col-6" style="text-align:right;">
                <a asp-controller="PaymentMethod" asp-action="Create" class="btn btn-primary">Add New Payment Method</a>
            </div>
        }
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Payment Method Name
                    </th>
                    @if (User.IsInRole(WC.AdminRole)) { <th></th> }
                </tr>
            </thead>
            <tbody>
                @foreach(var PaymentMethod in Model)
                {
                    <tr>
                        <td width="8%">@PaymentMethod.Id</td>
                        <td width="75%">@PaymentMethod.Name</td>
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a asp-controller="PaymentMethod" asp-route-Id="@PaymentMethod.Id" asp-action="Edit" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit">Edit</i>  
                                    </a>
                                    <a asp-controller="PaymentMethod" asp-route-Id="@PaymentMethod.Id" asp-action="Delete" class="btn btn-danger mx-1">
                                        <i class="far fa-trash-alt">Delete</i> 
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No Payment Method exists.</p>
    }
</div>