@model WineShop.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "ShopSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.ProductTypes)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>
        }
        <br />
        <br />
        <input type="text" id="searchByName" onkeyup="searchByName()" placeholder="Search for product.." title="Type in a name">
    </div>
    <br />
    <div class="row">
        @foreach (var test in Model.Products)
        {
            <partial name="_IndividualProductCard" model="test" />
        }
    </div>
</div>

@section Scripts{
    <script>
        var previewSearch = '';
        var clickState = false;

        function searchByName()
        {
            var input = document.getElementById("searchByName").value;
            var result = input.replace(' ','_');
            result = result.toLowerCase();

            if(input == '')
            {
                $('.filter').show('1000');
            }
            else
            {
                $(".filter").not('.'+result).hide('3000');
                $('.filter').filter('.'+result).show('3000');
            }
        }

        $(document).ready(function(){
            $(".filter-button").click(function()
            {
                var value = $(this).attr('data-filter');
                if(value == "all")
                {
                    $('.filter').show('1000');
                }
                else if(value == previewSearch)
                {
                    if(clickState == true)
                    {
                        clickState = false;
                        $(".filter").not('.'+value).hide('3000');
                        $('.filter').filter('.'+value).show('3000');
                    }
                    else
                    {
                        clickState = true;
                        $('.filter').show('1000');
                    }
                }
                else
                {
                    clickState = false;
                    $(".filter").not('.'+value).hide('3000');
                    $('.filter').filter('.'+value).show('3000');
                }
                previewSearch = value;
             });
         });
    </script>
}